/* You can add global styles to this file, and also import other style files */
.form-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-control{
        flex: 1;
        min-width: 250px;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        label + input{
            margin-top: 10px;
        }
        input{
            border-radius: 3px;
            min-height: 20px;
            width: 100%;
        }
        input.ng-dirty.ng-invalid{
            border-color: red;
        }
    }
    .form-buttons{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        min-width: 100%;
        margin: 7px auto;
        button{
            min-height: 30px;
            border-radius: 6px;
            background-color: lightgreen;
            border: 0;
            box-shadow: 2px 5px 15px grey;
        }
    }
}